set title "[CHAR] {reactor}"

set acelib "/usr/share/serpent/xsdata/endf7.xsdata"

% --- Matrial Definitions ---

% Initial Fuel Stream
mat fuel -{FuelDensity}
{fuel}

% Cladding Stream
mat cladding   -{CladDensity}
{cladding}

% Coolant Stream
mat coolant  -{CoolDensity} moder lwtr 1001
{coolant}

therm lwtr lwj3.20t

% --- Run Specification ---

% Periodic boundary conditions
set bc 3

% Fuel universe
set gcu 100

% 1/8 square symmetry
{SymFlag}set sym 8

% Group Stucture
set nfg {NGroups} {GroupStructure}


% Criticality calc
set pop {kParticles} {kCycles} {kCyclesSkip}


% --- Geometry ---
pin 1
fill 100 {FuelRadius}
void     {VoidRadius}
cladding {CladRadius}
coolant  

pin 2
coolant

surf 100 inf
cell 110 100 fuel   -100

lat 10 1 0.0 0.0 {LatticeXY} {LatticeXY} {CellPitch}

{Lattice}

surf 3000  sqc  0.0 0.0 {HalfLatticePitch}
cell 300   0  fill 10   -3000
cell 301   0  outside    3000

% --- Graphs ---
plot 3 800 800
mesh 3 800 800
